## Impact of Climate Change on Tree Canopy Coverage in Southeastern Utah National Parks

In [4]:
import pandas as pd
df = pd.read_csv('Data/NABR_historic.csv')
df.head()

,long,lat,year,TimePeriod,RCP,scenario,treecanopy,Ann_Herb,Bare,Herb,...,PPT_Annual,T_Winter,T_Summer,T_Annual,Tmax_Summer,Tmin_Winter,VWC_Winter_whole,VWC_Spring_whole,VWC_Summer_whole,VWC_Fall_whole
0,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,13.79,0.964835,23.15924,23.159240,37.05,NaN,NaN,NaN,NaN,NaN
1,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,2.69,0.964835,23.15924,0.964835,37.05,NaN,NaN,NaN,NaN,NaN
2,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,13.79,0.964835,23.15924,0.964835,37.05,NaN,NaN,NaN,NaN,NaN
3,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,2.69,0.964835,23.15924,23.159240,37.05,NaN,NaN,NaN,NaN,NaN
4,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,NaN,NaN,NaN,NaN,NaN,-12.45,0.113447,0.096831,0.041876,0.052298

In [5]:
df2 = pd.read_csv('Data/nearterm_data_2020-2024.csv')
df2.head()

,long,lat,year,TimePeriod,RCP,scenario,treecanopy,Ann_Herb,Bare,Herb,...,PPT_Annual,T_Winter,T_Summer,T_Annual,Tmax_Summer,Tmin_Winter,VWC_Winter_whole,VWC_Spring_whole,VWC_Summer_whole,VWC_Fall_whole
0,-110.0472,37.60413,2021,NT,4.5,sc22,0,0,84,5,...,6.37,1.630333,24.50402,24.50402,36.89,NaN,NaN,NaN,NaN,NaN
1,-110.0472,37.60413,2021,NT,4.5,sc22,0,0,84,5,...,NaN,NaN,NaN,NaN,NaN,-12.77,0.114652,0.078764,0.043514,0.051281
2,-110.0472,37.60413,2021,NT,4.5,sc23,0,0,84,5,...,3.09,1.389056,24.11043,24.11043,37.95,NaN,NaN,NaN,NaN,NaN
3,-110.0472,37.60413,2021,NT,4.5,sc23,0,0,84,5,...,NaN,NaN,NaN,NaN,NaN,-18.96,0.130221,0.096412,0.041232,0.092241
4,-110.0472,37.60413,2021,NT,4.5,sc24,0,0,84,5,...,6.87,-0.334389,25.54266,10.31321,37.74,NaN,NaN,NaN,NaN,NaN

In [6]:
merged_df = pd.concat([df, df2], ignore_index=True)

merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

merged_df.dropna(how='all', inplace=True)

In [8]:
# Check for missing values for each column
missing_values_per_column = merged_df.isnull().sum()

# Print the number of missing values for each column
print("\nNumber of missing values for each column:")
print(missing_values_per_column)

Number of missing values for each column:
long                                          0
lat                                           0
year                                          0
TimePeriod                                    0
RCP                                           0
scenario                                      0
treecanopy                                    0
Ann_Herb                                      0
Bare                                          0
Herb                                          0
Litter                                        0
Shrub                                         0
DrySoilDays_Summer_whole                  46874
Evap_Summer                               46874
ExtremeShortTermDryStress_Summer_whole    46880
FrostDays_Winter                          46874
NonDrySWA_Summer_whole                    46998
PPT_Winter                                22288
PPT_Summer                                22288
PPT_Annual                                29693
T_Winter                                  22288
T_Summer                                  22288
T_Annual                                  29693
Tmax_Summer                               22288
Tmin_Winter                               46874
VWC_Winter_whole                          46874
VWC_Spring_whole                          46874
VWC_Summer_whole                          46874
VWC_Fall_whole                            46874
dtype: int64

In [9]:
# Define columns to check for duplicates
columns_to_check = ['long', 'lat', 'year', 'TimePeriod', 'RCP', 'scenario']

# Find duplicates
duplicates = merged_df[merged_df.duplicated(subset=columns_to_check, keep=False)]

# Display duplicates
print("Duplicate rows based on the columns:", columns_to_check)
print(duplicates)

# Display unique rows for specific columns
print("\nUnique rows count for each column with duplicates:")
for col in merged_df.columns:
    print(f"{col}: {duplicates[col].nunique()}")

# Save duplicates to CSV for further analysis if needed
duplicates.to_csv('Data/duplicates.csv', index=False)

Duplicate rows based on the columns: ['long', 'lat', 'year', 'TimePeriod', 'RCP', 'scenario']
           long       lat  year TimePeriod         RCP scenario  treecanopy  \
0     -110.0472  37.60413  1980       Hist  historical      sc1           0
1     -110.0472  37.60413  1980       Hist  historical      sc1           0
2     -110.0472  37.60413  1980       Hist  historical      sc1           0
3     -110.0472  37.60413  1980       Hist  historical      sc1           0
4     -110.0472  37.60413  1980       Hist  historical      sc1           0
...         ...       ...   ...        ...         ...      ...         ...
69618 -109.9659  37.62525  2024         NT         8.5     sc57          18
69619 -109.9659  37.62525  2024         NT         8.5     sc58          18
69620 -109.9659  37.62525  2024         NT         8.5     sc59          18
69621 -109.9659  37.62525  2024         NT         8.5     sc60          18
69622 -109.9659  37.62525  2024         NT         8.5     sc61          18

       Ann_Herb  Bare  Herb  ...  PPT_Annual  T_Winter  T_Summer   T_Annual  \
0             0    84     5  ...       13.79  0.964835  23.15924  23.159240
1             0    84     5  ...        2.69  0.964835  23.15924   0.964835
2             0    84     5  ...       13.79  0.964835  23.15924   0.964835
3             0    84     5  ...        2.69  0.964835  23.15924  23.159240
4             0    84     5  ...         NaN       NaN       NaN        NaN
...         ...   ...   ...  ...         ...       ...       ...        ...
69618         0    37    18  ...         NaN       NaN       NaN        NaN
69619         0    37    18  ...         NaN       NaN       NaN        NaN
69620         0    37    18  ...         NaN       NaN       NaN        NaN
69621         0    37    18  ...         NaN       NaN       NaN        NaN
69622         0    37    18  ...         NaN       NaN       NaN        NaN

       Tmax_Summer  Tmin_Winter  VWC_Winter_whole  VWC_Spring_whole  \
0            37.05          NaN               NaN               NaN
1            37.05          NaN               NaN               NaN
2            37.05          NaN               NaN               NaN
3            37.05          NaN               NaN               NaN
4              NaN       -12.45          0.113447          0.096831
...            ...          ...               ...               ...
69618          NaN       -12.16          0.142255          0.173792
69619          NaN       -12.16          0.166254          0.158146
69620          NaN       -10.38          0.151342          0.175814
69621          NaN       -10.61          0.122249          0.104884
69622          NaN        -7.56          0.139110          0.116699

       VWC_Summer_whole  VWC_Fall_whole
0                   NaN             NaN
1                   NaN             NaN
2                   NaN             NaN
3                   NaN             NaN
4              0.041876        0.052298
...                 ...             ...
69618          0.091433        0.106907
69619          0.086355        0.095905
69620          0.091992        0.109333
69621          0.087115        0.118908
69622          0.084664        0.111973

[69485 rows x 29 columns]

Unique rows count for each column with duplicates:
long: 92
lat: 90
year: 43
TimePeriod: 2
RCP: 3
scenario: 41
treecanopy: 25
Ann_Herb: 3
Bare: 56
Herb: 19
Litter: 24
Shrub: 34
DrySoilDays_Summer_whole: 93
Evap_Summer: 22295
ExtremeShortTermDryStress_Summer_whole: 1490
FrostDays_Winter: 48
NonDrySWA_Summer_whole: 22069
PPT_Winter: 783
PPT_Summer: 798
PPT_Annual: 1396
T_Winter: 1152
T_Summer: 1152
T_Annual: 3897
Tmax_Summer: 527
Tmin_Winter: 756
VWC_Winter_whole: 22214
VWC_Spring_whole: 22267
VWC_Summer_whole: 22311
VWC_Fall_whole: 22251

In [4]:
# Save the cleaned merged dataframe to a new CSV file
merged_df.to_csv('Data/merged_cleaned_data.csv', index=False)

In [20]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

years_to_remove = [2021, 2022, 2023, 2024]
filtered_df = merged_df[~merged_df['year'].isin(years_to_remove)]

# For each year, at each unique longitude and latitude, keep the row with the highest treecanopy value
max_treecanopy_df = filtered_df.loc[filtered_df.groupby(['year', 'long', 'lat'])['treecanopy'].idxmax()]

unique_years = max_treecanopy_df['year'].unique()

# Create a dropdown menu with the years
buttons = []
for year in unique_years:
    filtered_df = merged_df[merged_df['year'] == year]
    buttons.append(
        dict(
            method='update',
            label=str(year),
            args=[{'lat': [filtered_df['lat']], 
                   'lon': [filtered_df['long']], 
                   'marker.color': [filtered_df['treecanopy']], 
                   'text': [filtered_df['treecanopy']]}]
        )
    )

# Create the initial scatter map plot for the first year in the dataset
initial_year = unique_years[0]
initial_df = max_treecanopy_df[max_treecanopy_df['year'] == initial_year]

fig = px.scatter_mapbox(
    initial_df,
    lat="lat",
    lon="long",
    hover_name="year",
    hover_data=["treecanopy", "RCP", "scenario"],
    color="treecanopy",
    color_continuous_scale=[[0, 'white'], [1, 'red']],
    size="treecanopy",
    size_max=15,
    zoom=11,
    mapbox_style="carto-positron"
)

# Update layout for better visibility and add the dropdown menu
fig.update_layout(
    title="Tree Canopy for",
    coloraxis_colorbar=dict(
        title="Tree Canopy Percentage",
    ),
    updatemenus=[dict(
        buttons=buttons,
        direction='down',
        showactive=True,
        x=0.18,
        xanchor='left',
        y=1.2,
        yanchor='top'
    )]
)

# Save the figure as an HTML file
fig.write_html("tree_canopy_map.html")


<iframe src="./tree_canopy_map.html" width="120%" height="600px"></iframe>

In [18]:
# Line chart for tree canopy coverage over time
fig = px.line(filtered_df, x='year', y='treecanopy', color='scenario', title='Tree Canopy Coverage Over Time')
fig.write_html("tree_canopy_over_time.html")

In [22]:
merged_df

,long,lat,year,TimePeriod,RCP,scenario,treecanopy,Ann_Herb,Bare,Herb,...,PPT_Annual,T_Winter,T_Summer,T_Annual,Tmax_Summer,Tmin_Winter,VWC_Winter_whole,VWC_Spring_whole,VWC_Summer_whole,VWC_Fall_whole
0,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,13.79,0.964835,23.15924,23.159240,37.05,NaN,NaN,NaN,NaN,NaN
1,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,2.69,0.964835,23.15924,0.964835,37.05,NaN,NaN,NaN,NaN,NaN
2,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,13.79,0.964835,23.15924,0.964835,37.05,NaN,NaN,NaN,NaN,NaN
3,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,2.69,0.964835,23.15924,23.159240,37.05,NaN,NaN,NaN,NaN,NaN
4,-110.0472,37.60413,1980,Hist,historical,sc1,0,0,84,5,...,NaN,NaN,NaN,NaN,NaN,-12.45,0.113447,0.096831,0.041876,0.052298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69618,-109.9659,37.62525,2024,NT,8.5,sc57,18,0,37,18,...,NaN,NaN,NaN,NaN,NaN,-12.16,0.142255,0.173792,0.091433,0.106907
69619,-109.9659,37.62525,2024,NT,8.5,sc58,18,0,37,18,...,NaN,NaN,NaN,NaN,NaN,-12.16,0.166254,0.158146,0.086355,0.095905
69620,-109.9659,37.62525,2024,NT,8.5,sc59,18,0,37,18,...,NaN,NaN,NaN,NaN,NaN,-10.38,0.151342,0.175814,0.091992,0.109333
69621,-109.9659,37.62525,2024,NT,8.5,sc60,18,0,37,18,...,NaN,NaN,NaN,NaN,NaN,-10.61,0.122249,0.104884,0.087115,0.118908
69622,-109.9659,37.62525,2024,NT,8.5,sc61,18,0,37,18,...,NaN,NaN,NaN,NaN,NaN,-7.56,0.139110,0.116699,0.084664,0.111973